#loginform{
    width: 60%;
    border: 2px solid black;
    margin: 80px auto;
  background-color: rgb(196, 219, 211);
  
}
#loginform1{
     width: 100%;
  
    margin: 80px auto;
  background-color:rgb(204, 234, 145);
}
